<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.pay_api.mapper.PaylogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feri.pay_api.entity.Paylog">
        <id column="id" property="id" />
        <result column="oid" property="oid" />
        <result column="content" property="content" />
        <result column="createtime" property="createtime" />
        <result column="flag" property="flag" />
    </resultMap>

    <insert id="save">
        insert into paylog(oid,content,createtime) values(#{oid},#{content},now());
    </insert>

    <select id="selectSingle" resultType="com.feri.pay_api.entity.Paylog">
        select * from paylog where id=#{id};
    </select>
    <select id="selectCount" resultType="long">
        select COUNT(*) from paylog
    </select>
    <select id="selectByPage" resultType="com.feri.pay_api.entity.Paylog">
        select * from paylog order by createtime desc limit #{index},#{count}
    </select>
</mapper>
